body {
    background-image: url("open.webp");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 80px;
    color: rgb(18, 3, 3);
    font-style: italic;
    margin-top: 50px;
}

button {
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: #6f4e37;
    color: white;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #d4a373;
}
